{% extends 'base.html' %}
{% block content %}
<html>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;1,200;1,400&family=Ubuntu:wght@300&display=swap" rel="stylesheet">



<title>Feedback</title>
</head>
    <style>
        h1,h3,p{
             font-family: 'Ubuntu', sans-serif;
        font-weight: bold;

        }
         h2{
             font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
             background-color: darkgrey;
        }

    </style>
<body>
<h1> Feedback By:</h1>
<h2>Ms.Charuthri CSE (2022 passout) </h2>
<h3>
<ul>
<li>Concentrate on APT and maintain proper notes.APT notes will be helpful for many interviews </li>
<li>Practice regularly coding.Solve atleast 2-3 per day</li>
<li>Collect and have proper notes of DBMS,OS for interviews</li>
<li>Have good grip on writing SQL queries- few companies concentrate on SQL</li>
<li>Do attend CRT classes,assignments regularly for aptitude</li>
<li>Participate in coding contest from code chef,code forces,..</li>
<li>Have a good understanding with your projects and be ready to explain</li>
<li>Be consistent with the things you do for interview</li>
<li>Do read about company products and services from their website before giving interview.will be helpful in hr rounds</li>
<ul>
</h3>
<hr>


<h2>Ms.Praharsha CSE(2022 passout)</h2>
<h3>
<ul>
<li>Leetcode for coding practice and company specific tech interview preparation.
<li>College training by APT and CRT
<li>Have strong foundation in core subjects - OS, CN, DS,DBMS
<li>Participate in hackathons.
<li>Do good projects.
<li>Try and test yourself with mock interviews.
<li>Continuous problem solving on online platforms.
<li>Geeks for geeks for preparation.
</ul>
</h3>
<hr>
<h2>Mr.PavanTeja CSE(2022 passout)<h2>
<h3>
<ul>
<li>"Geeks for geeks" for  interview preparation.
<li>Courses completed in "geeks for geeks"
<li>Participating in hackathons
<li>College  training by CRT,APT.
<li>Facing 8 interviews before AMAZON.
<li>Participating in coding competitions.
<li>Solving hacker rank problems.
</ul>
</h3>
<hr>
</body>

</html>
{% endblock %}